<h2>編集ページ</h2>
<div class="edit-container" style="width:50%; margin: 20px auto; position: relative;">
  <h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">会員情報編集</h4>
<%= form_with model: @end_user, url:end_user_path(@end_user), method: :patch do |f| %>

    <div class="row" style="height: 20px;"></div>

<div class="form-group">
    <label>氏名</label>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", style: "margin;"  %>
  </div>

  <div class="form-group">
    <label>メールアドレス</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div style="text-align:center;">
    <%= f.submit "編集内容を保存", class:"btn btn-success", style: "display:inline-block" %>
  </div>

<% end %>
</div>